# Ignore Portable Document Format
# files with extension *.pdf
*.pdf
# Ignore compressed files with
# extension *.zip
*.zip
# Ignore Microsoft document files
# with either extensions *.docx or
# *.doc
*.docx
*.doc
